<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Scan Results</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!--<style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>-->
</head>
<body>
<h1>Scans</h1>
<table id="scan-table" class="display">
    <thead>
    <tr>
        <th>Tarama Adı</th>
        <th>Hedef</th>
        <th>Detay</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<!--<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Target</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${scans}">
        <td th:text="${result.scanName}"></td>
        <td th:text="${result.target}"></td>
        <td class=" w-100 pb-10">
            <a type="submit" th:href="'/scan/'+ ${result.id}">İncele</a>
        </td>
    </tr>
    </tbody>
</table>-->
</body>
<script>
    $(document).ready(function () {
        $('#scan-table').DataTable({
            "ajax": {
                "url": "/scansRest",
                "dataSrc": ""
            },
            "columns": [
                {"data": "scanName"},
                {"data": "target"},
                {
                    "data": null,
                    "render": function (row) {
                        return "<a href='/scan/" + row.id + "'>İncele</a>";
                    }
                }
            ]
        });
    });
</script>
</html>